:root 
{
    --basic-whith:#fff;
    --body-basic-bg-dark-color:rgb(15 23 42);
    --basic-royalblue:#4169e1;
    --basic_bg_black_with_opcity:rgba(0, 0, 0,0.5);
    --light_green:rgba(58, 206, 58, 0.904);
}

*
{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    
    a 
    {
        text-decoration: none;
    }

    li 
    {
        list-style: none;
    }

    color: var(--basic-whith);
}

html 
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar
{
    background:transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: var(--basic-royalblue);
    border-radius: 1.3rem;
    width: 0.7rem;
}

body 
{
    background-color: var(--body-basic-bg-dark-color);
}

