@use "presentation_media" as *;

#presentation 
{
    padding: 1.1rem;
    h1 
    {
        font-size: 2.5rem;
        margin:2rem 0 ;
        text-align: center;
        color: var(--basic-royalblue);
        animation: hu__hu__ infinite 2s ease-in-out ;
    }

    #circle 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #circle_animation
    {
        width:36rem;
        height:36rem;
        margin: 5rem 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .couche 
        {
            position: absolute;
            border-radius: 50%;
            border: solid 1px var(--basic-royalblue);;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img 
            {
                width: 3.4rem;
                height: 3.4rem;
                position: absolute;
            }
        }

    }
}


#presentation #perso_description
{
    margin:5rem 0 ;

    p span 
    {
        color: var(--basic-royalblue);

    }

    p
    {
        font-size: 1.8rem;
        margin: 1rem 0;
        line-height: 25px;
    }
}

@keyframes hu__hu__ {
    50% { transform: translateY(20px) }
}

//media query

@include presentationMediaQuery()