#presentation 
{
    padding: 1.1rem;
    h1 
    {
        font-size: 2.5rem;
        margin:2rem 0 ;
        color: var(--basic-royalblue);
        animation: hu__hu__ infinite 2s ease-in-out  ;
        
        
    }

    #circle 
    {
        width:34rem;
        height:34rem;
    }

    #circle_animation
    {
        width:100%;
        height:100%;
        border:solid 2px blue;
        margin: 5rem 0;

        .couche 
        {
            position: relative;
            border-radius: 50%;
            border: solid 1px green;
            
            img 
            {
                width: 4rem;
                height: 4rem;
                position: absolute;
                top: 0;
            }
        }

         &,.couche 
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

    }
}


#presentation #perso_description
{
    margin:5rem 0 ;

    p span 
    {
        color: var(--basic-royalblue);

    }

    p
    {
        font-size: 1.8rem;
        margin: 1rem 0;
        line-height: 25px;
    }
}

@keyframes hu__hu__ {
    50% { transform: translateY(20px) }
}

