@mixin technologies_media_query
{
    @media screen and (max-width:370px)
    {
        #technologies section
        {
            h3.add_width::after,h3.add_width::before
            {
                width: 30%;
                transition: width 1.2s;
            }
        }
       
    }

    @media screen and (min-width:900px)
    {
        #technologies .techno_cards
        {
            padding: 2rem;
            column-gap:0;
        }
        #technologies .techno_cards .card
        {
            width:17%;
            margin: 1rem;
        }
    }

    @media screen and (min-width:1200px)
    {
        #technologies .techno_cards
        {
            padding: 2rem;
            column-gap:0;
        }
        #technologies .techno_cards .card
        {
            width:10%;
            margin: 2rem;
        }
    }
}