
@use "bounce_animation" as *;
@use "technologies_media" as *;

#technologies
{
    width: 100%;

    section
    {
        margin: 6rem 0 ;

        h3 
        {
            font-size: 1.8rem;
            margin: 1.4rem 1rem;
            text-align: center;

            &::after,&::before
            {
                content: "";
                display: inline-block;
                width: 0;
                height: 0.9rem;
                vertical-align: middle;
                border-radius: 6px;
                margin:0 0.2rem;
                background-color: var(--basic-royalblue)
            }

        } 

        h3.add_width::after,h3.add_width::before
        {
            width: 34%;
            transition: width 1.2s;
        }
        
    }

    .techno_cards
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2.5rem;
    }

    .techno_cards .card
    {
        width:35%;
        border:solid 3px var(--basic-royalblue);
        margin: 1.3rem 0;
        border-radius: 2.5rem;
        padding: 0.8rem;
        opacity: 0;

        &.bounce_in_left
        {
            opacity: 1;
            -webkit-animation: bounce_in_left 0.9s both;
            animation: bounce_in_left 0.9s both;
        }

        &.bounce_in_right
        {
            opacity: 1;
            -webkit-animation: bounce_in_right 0.9s both;
            animation: bounce_in_right 0.9s both;
        }



        .logo 
        {
            display: flex;
            justify-content: center;
            height: 100px;
        }

        span 
        {
            font-size: 1.2rem;
            text-align: center;
            display: block;
            width: 100%;
            margin: 0.8rem 0;
            text-transform: uppercase;
        }

    }



}

@include left_bounce_animation();
@include right_bounce_animation();
@include technologies_media_query()