@use "aside_media" as *;

aside 
{
    background-color: var(--basic_bg_black_with_opcity);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32%;
    position: fixed;
    left: 0;
    top:0;
    overflow-x: hidden;
    z-index:-1;

    section 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        cursor: pointer;
        position: relative;

        .indicator
        {
            width: 0.6rem;
            height: 100%;
            position: absolute;
            left: 1rem;
            border-radius: 35px;
            background-color:var(--basic-royalblue);
            opacity:0;
        }

        &.active .indicator
        {
            opacity: 1;
        }

        .section_title 
        {
            font-size: 1.4rem;
            padding: 0.7rem;
            text-align: center;
            width: 100%;
        }
    }

    section div 
    {
        width:4rem;
        height:4rem;
        margin:0 1.5rem ;

        img
        {
            width: 100%;
            height: 100%;
        }

    }

    
}

@include aside_media_query();