@use "./presentation/presentation";
@use "./projects/projects";
@use "./technologie/technologies" ;
@use "./footer/footer"as * ;
@use "./contactes" as *;
@use "main_media" as *;

main 
{
    width: 100%;
    background-color:var(--body-basic-bg-dark-color);
    z-index: 40;
    overflow-x: hidden;
    transition: transform 0.3s;

    & h2 
    {
        text-align: center;
        font-size: 2.3rem;
        margin: 2rem 0;
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-color: var(--basic-royalblue);
    }
}

@include main_media_query()


