#projects
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;

    .project_card 
    {
        border:solid 4px var(--basic-royalblue);
        padding: 1.8rem;
        border-radius: 2.5rem;
        width: 80%;
        
        #image
        {
            width:100%;
            height:24rem;
            background-color: blue;
        }

        #project_info 
        {
            padding: 0.6rem 0;
        }

        #project_info :is(h3,h4,p)
        {
            margin: 1rem 0;
            font-size: 1.7rem;
            margin-left: 0.8rem;
            vertical-align: middle;
        }

        #project_info :is(h3,h4,p)::before
        {
            content: "";
            display: inline-block;
            height:1.1rem;
            width:1.1rem;
            background-color:var(--basic-royalblue);
            border-radius: 50%;
            margin-right: 0.5rem;
        }

        #project_info ul li 
        {
            font-size: 1.2rem;
            display: inline-block;
            margin: 0 0.8rem;
            background:var(--basic-royalblue);
            padding: 0.4rem;
            color:rgb(230, 224, 224);
        }

    }
}

