@use "header_media" as *;

header 
{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: var(--basic_bg_black_with_opcity);
    height: 5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end ;
    z-index: 100;
}

header #burger 
{

     margin-right: 1.8rem;
     cursor: pointer;

    .wrapper-menu {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: transform 330ms ease-out;

        & div 
        {
            background-color: var(--basic-royalblue);
        }
      }
      
      .wrapper-menu.open {
        transform: rotate(-45deg);  
      }
      
      .line-menu {
        background-color: #fff;
        border-radius: 5px;
        width: 100%;
        height: 6px;
      }
      
      .line-menu.half {
        width: 50%;
      }
      
      .line-menu.start {
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
      }
      
      .open .line-menu.start {
        transform: rotate(-90deg) translateX(3px);
      }
      
      .line-menu.end {
        align-self: flex-end;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: left;
      }
      
      .open .line-menu.end {
        transform: rotate(-90deg) translateX(-3px);
      }

    
}

@include header_media_query()