
    footer 
    {
        background-color: var(--basic_bg_black_with_opcity);
        padding: 0.9rem;

        p
        {
            font-size: 1.3rem;
            text-align: center;
        }

        p span 
        {
            color:var(--basic-royalblue);
            font-weight: bold;
        }
    }