
    footer 
    {
        background-color:var(--body-basic-bg-dark-color);
        transition: transform 0.3s;

        div 
        {
            background-color: var(--basic_bg_black_with_opcity);
            width: 100%;
            height: 100%;
            padding: 0.9rem 0;
        }

        p
        {
            font-size: 1.3rem;
            text-align: center;
        }

        p span 
        {
            color:var(--basic-royalblue);
            font-weight: bold;
        }
    }

    
    $val:var(--aside_media_1023_width);

    @media screen and (min-width:1023px) {
        
        footer
        {
            width:calc(100% - $val);
            transform: translateX(calc($val + 3%));
           
        }
    }