
    footer 
    {
        background-color:var(--body-basic-bg-dark-color);
        transition: transform 0.3s;

        div 
        {
            background-color: var(--basic_bg_black_with_opcity);
            width: 100%;
            height: 100%;
            padding: 0.9rem;
        }

        p
        {
            font-size: 1.3rem;
            text-align: center;
        }

        p span 
        {
            color:var(--basic-royalblue);
            font-weight: bold;
        }
    }