@mixin projects_media_query
{
    @media screen and (min-width:575px) {

        #projects .project_card 
        {
            width: 53%;
        }

    }

    @media screen and (min-width:800px) {

        #projects .project_card 
        {
            width: 40%;
        }

        #projects  #projectCards
        {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
        }

    }
}