@use "projects_media" as *;

#projects
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;

    #projectCards
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .project_card 
    {
        border:solid 4px var(--basic-royalblue);
        padding: 1.6rem;
        border-radius: 2.3rem;
        width: 80%;
        height: auto;
        margin: 3rem 0;
        position: relative;
        overflow-y: hidden;
        
        #image
        {
            width:100%;
        }

        #image img 
        {
            width:100%;
            height: 100%;
        }

        #project_info 
        {
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
            bottom: 0;
            left:0;
            right: 0;
            height: 0;
            background-color: #0c0f19;
            transition: height 0.3s;
            overflow: hidden;

        }

        &:hover 
        {
            box-shadow:var(--over_shadow);
            
            #project_info
            {
               height: 100%;
            }
            
        }

        #project_info :is(h3,h4)
        {
            margin: 0.8rem 0;
            font-size: 1.7rem;
            margin-left: 0.8rem;
            vertical-align: middle;
        }

        #project_info :is(h3,h4)::before
        {
            content: "";
            display: inline-block;
            height:1.1rem;
            width:1.1rem;
            background-color:var(--basic-royalblue);
            border-radius: 50%;
            margin-right: 0.5rem;
        }

        #project_info :is(p,span)
        {
            font-size: 1.3rem;
        }

        #project_info p 
        {
            display: inline;
        }

        #project_info span 
        {
            display: inline-block;
            margin: 0.5rem;
            background:var(--basic-royalblue);
            padding: 0.3rem;
            color:rgb(230, 224, 224);
        }

    }
}

//media
@include projects_media_query()
